#navbar-top
{
    background-color: #202020;
    border-radius: 0px;
}

#navbar-top > div > div > ul > li > a
{
    color: #888888;
}

#navbar-top > div > div > ul > li > a:hover
{
    background-color: #101010;
}

body
{
    background-color: #171717;
}