@import url('http://fonts.googleapis.com/css?family=Montserrat');
@import url('http://fonts.googleapis.com/css?family=Source%20Sans%20Pro');

#navbar-top
{
    border-radius: 0px;
    background: #202020;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    min-height: 70px;
    padding-top: 20px;
    font-size: 20px;
}

#navbar-top > div
{
    text-align: center;
}

#navbar-top > div > span
{
    padding-left: 6px;
    padding-right: 6px;
}

#navbar-top > div > span > a
{
    color: #888888;
}

#navbar-top > div > span > a:hover
{
    background-color: #202020;
    text-decoration: none;
    color: #999999;
}

body
{
    background-color: #171717;
}

a:link
{
    color: #82244B;
    text-decoration: none;
}

a:hover
{
    color: #D54883;
    text-decoration: none;
}

a:visited
{
    color: #82244B;
    text-decoration: none;
}

#header
{
    text-align: center;
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 7.5%;
    margin-bottom: 7.5%;
}

.centered
{
    text-align: center;
}

.content-block
{
    background-color: #202020;
    color: #888888;
    font-size: 20px;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    font-family: 'Source Sans Pro', sans-serif;
    margin-bottom: 5%;
}

hr
{
    border-color: #888888;
}

.smallhr
{
    max-width: 10%;
}

h1, h2, h3, h4, h5, h6
{
    font-family: 'Montserrat', sans-serif;
    color: #888888;
}

.button
{
    background-color: #82244B;
    color: #202020;
    border-style: none;
    height: 50px;
    border-radius: 3px;
}

.download:hover
{
    background-color: #D54883;
}

.feature-divider
{
    border-color: #171717;
}

.feature-spoiler
{
    border-style: solid;
    border-color: #171717;
    border-radius: 3px;
    border-width: 1px;
}

.table > tbody > tr > td
{
    border-top: 1px solid #171717;
    text-align: left;
}

.developers > thead > tr > td {
    font-weight: bold;
}

.developers > tbody > tr:nth-child(odd) {
    background: #303030;
}

.developers > tbody > tr > td {
    text-align: center;
    border: none;
}

#team > hr{
    border: dashed 2px;
    max-width: 90%;
}

@media only screen and (min-width: 1260px) {
    .developers {
        max-width: 75%;
    }

    #team > hr {
        max-width: 80%;
    }
}
